body{
    font-family: "OpenSans", Helvetica, Tahoma, Arial, sans-serif;
    background: #00020F url(//static.lioden.com/images/https://cdnb.artstation.com/p/assets/images/images/036/289/623/medium/hannah-lunsford-divine-felines-bael-marie.jpg) fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 14px;
};
